<div>My Feed:</div>
<div>Latest Post:</div>
<div>
  <%= link_to @latest_blog_post.title, @latest_blog_post %>
</div>

<br>
<br>

<div>
  <%= link_to "All Users", users_path %>
</div>

<div>
  <%= link_to "All Blog Posts", blog_posts_path %>
</div>